@import '_mixins.scss';
@import '_letterals.scss';

._filter{
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    &_button{
       height: 22px;
    }
    &_input{
        @include filterInput();
        &:hover{
            box-shadow: inset 0px 0px 2px 1px $primaryColor;
        }
        &__active{
            @include filterInputActive();
        }
    }
}
