{
    "extends": [
        "react-app",
        "react-app/jest",
        "@feature-sliced/eslint-config/rules/import-order",
        "@feature-sliced/eslint-config/rules/public-api",
        "@feature-sliced/eslint-config/rules/layers-slices"
    ],
    "plugins":[
    ],
    "rules":{
        "import/order":["warn",{
            "groups":["builtin","external","internal","parent"]
        }],
        "import/no-internal-modules":"warn",
        "boundaries/element-types":"warn"
    }
}