@import '/src/app/styles/mixins';
@import '/src/app/styles/letterals';


.formLoginPage{
    &_title{
        width: 145px;
        height: 28px;
        @include font('Roboto',24px,300,171%);
        margin-bottom: 30px;
    }
    &_items{
        & label{
            @include font("Roboto",14px,400,171%);
            color:$disabledElementTextColor;
        }
        & input {
            width: 100%;
            &:hover{
                width: 100%;
            }
            margin-bottom: 10px;
        }
    }
    &_button{
        width: 170px;
        margin-top: 20px;
    }
    
}

