@import '/src/app/styles/letterals.scss';
@import '/src/app/styles/mixins.scss';

.userPageTaskList{
    width: 900px;
    height: 600px;

    &_paginator{
        width: 900px;
        margin-top: 35px;
    }
    &_taskListContainer{
        width: 900px;
        height: 512px;
        border:1px solid $disabledElementColor;
        background-color: $white;
        border-radius: 5px;

    }
}